body
  background: #FFF
  line-height: 1.4
  font-family: 'Montserrat', sans-serif

.container
  max-width: 1240px
  margin-left: auto
  margin-right: auto
  width: 100%
  +r(1280)
    width: 1040px
  +r(1080)
    width: 840px
  +r(880)
    width: 768px
    padding-left: 10px
    padding-right: 10px
  +r(767)
    width: 100%

.header
  padding-top: 100px
  padding-bottom: 85px
  +r(480)
    padding-top: 50px
    padding-bottom: 40px

  &__logo
    width: 140px
    height: 34px
    display: block

.row
  display: flex
  flex-wrap: wrap

.col
  width: 50%
