.footer
	padding-top: 48px
	padding-bottom: 78px
	&__logo
		width: 77px
		height: 18px
		display: block
		margin-bottom: 15px
	&__legal
		line-height: 18px
		font-size: 12px
		color: #9C9C9C
  	letter-spacing: -0.7px
		a
			color: inherit
			text-decoration-skip-ink: none
			&:hover
				text-decoration: none
