---
title: Index Page
---
extends layouts/_layout
block content
	include partials/main/_top
	include partials/main/_table-price
	include partials/main/_text
	include partials/main/_table-info
	include partials/main/_info
