footer.footer
	.container
		a(href="/").footer__logo
			img(src="./img/logo.svg", alt="")
		p.footer__legal Поддержка работодателей:
			a(href="mailto:support@unitemp.ru")  support@unitemp.ru
			|  |
			a(href="tel:+7 (495) 015-58-35") +7 (495) 015-58-35
			br
			| Запрашивая ссылку на приложение вы выражаете свое
			a(href="//unitemp.ru/docs/informed_consent.pdf" target="_blank")  согласие
			|  с
			a(href="//unitemp.ru/docs/privacy_policy.pdf" target="_blank")  Политикой обработки персональных данных.
