.main-info
	background: #F9F9F9
	padding-top: 74px
	padding-bottom: 72px
	&__heading
		font-weight: 500
		line-height: normal
		font-size: 36px
		text-align: center
		color: #2A2A2A
		display: block
		padding-bottom: 70px
		padding-left: 31px
		letter-spacing: 0.3px
		+r(480)
			font-size: 22px
			padding-left: 0
	&__row
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		margin-bottom: 56px
	&__col
		display: flex
		flex-direction: column
		align-items: center
		width: 30%
		+r(880)
			width: 100%
			margin-bottom: 20px
			flex-direction: row
			align-items: flex-start
	&__icon
		width: 170px
		height: 170px
		margin-bottom: 31px
		+r(480)
			width: 70px
			height: 70px
			margin-bottom: 0
	&__bottom
		+r(480)
			padding-left: 20px
	&__title
		font-weight: 500
		line-height: 30px
		font-size: 20px
		color: #000000
		margin-bottom: 12px
		text-align: center
		+r(880)
			text-align: left
	&__text
		line-height: 19px
		font-size: 14px
		text-align: center
		color: #4E4E4E
		font-family: 'Roboto', sans-serif
		+r(880)
			text-align: left
	&__link
		@extend .main-top__link
		margin-left: auto
		margin-right: auto
		display: flex
