.main-price
	padding-bottom: 43px
	&__heading
		font-weight: 500
		line-height: normal
		font-size: 36px
		color: #2A2A2A
		margin-left: -6px
		padding-bottom: 34px
		+r(480)
			margin-left: 0
			font-size: 22px
	&__table
		&-wrap
			overflow-y: auto
		th
			background: #F8F8F8
		td, th
			font-weight: 500
			line-height: normal
			font-size: 18px
			color: #000000
			text-align: center
			vertical-align: middle
			height: 60px
			border: 1px solid #D6D6D6
			padding-left: 6px
			padding-right: 6px
			padding-top: 10px
			padding-bottom: 10px
			&:nth-of-type(3n + 1)
				width: 33.7%
			&:nth-of-type(3n + 2)
				width: 33.5%
			+r(480)
				font-size: 14px
