.main-info-table
	padding-bottom: 83px
	&__table
		background-color: #fff
		&-wrap
			margin-bottom: 32px
			overflow-y: auto
		th
			background: #F8F8F8
			font-weight: 500
			line-height: normal
			font-size: 18px
			color: #000000
			vertical-align: middle
			border: 1px solid #D6D6D6
			height: 135px
			padding-left: 10px
			padding-right: 10px
			&:nth-of-type(3n + 1)
				width: 26.3%
				text-align: left
				padding-left: 35px
			&:nth-of-type(3n + 2)
				width: 54.6%
				text-align: left
				padding-left: 45px
			&:nth-of-type(3n + 3)
				width: 19.1%
				text-align: center
		td
			line-height: normal
			font-size: 14px
			color: #4E4E4E
			vertical-align: middle
			border: 1px solid #D6D6D6
			height: 135px
			padding-left: 10px
			padding-right: 10px
			&:nth-of-type(3n + 1)
				padding-left: 34px
				padding-right: 51px
			&:nth-of-type(3n + 2)
				padding-left: 45px
				padding-right: 51px
			&:nth-of-type(3n + 3)
				text-align: center
		th, td
			padding-top: 10px
			padding-bottom: 10px
			+r(480)
				padding-left: 6px !important
				padding-right: 6px !important
				font-size: 14px
