.main-top
	color: #000
	padding-bottom: 52px
	&__row
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	&__left
		width: 43.02%
		padding-bottom: 40px
		+r(880)
			width: 100%
	&__right
		width: 54.79%
		+r(1280)
			display: flex
			flex-direction: column
			justify-content: center
		+r(880)
			width: 100%
	&__heading
		font-weight: 600
		line-height: 1
		font-size: 61px
		color: inherit
		padding-top: 73px
		margin-left: -2px
		padding-bottom: 37px
		+r(480)
			padding-top: 0
			font-size: 36px
	&__text
		line-height: 24px
		font-size: 14px
		letter-spacing: -0.02em
		color: inherit
		padding-left: 2px
		margin-bottom: 62px
	&__link
		width: 378px
		height: 58px
		background-color: #FECA16
		border-radius: 5px
		font-weight: 500
		line-height: normal
		font-size: 16px
		text-decoration-line: underline
		color: inherit
		display: inline-flex
		justify-content: space-around
		align-items: center
		margin-right: -4px
		transition: background-color .3s ease
		text-decoration-skip-ink: none
		+r(480)
			width: 100%
		&:hover
			background-color: #ffce52
			text-decoration: none
	&__img
		width: 100%
		margin-right: -4px
