section.main-info
	.container
		h2.main-info__heading Unitemp для любого бизнеса.
			br
			| Ключики
		.main-info__row
			.main-info__col
				img(src="./img/icon-1.svg", alt="").main-info__icon
				.main-info__bottom
					h3.main-info__title Малый бизнес
					p.main-info__text Получайте отклики, общайтесь с&nbsp;кандидатами #[br] в&nbsp;чате. Вы&nbsp;видите все данные соискателя и&nbsp;сами решаете, начать&nbsp;ли чат. Открыть чат #[br] стоит 1&nbsp;ключик. Ежедневно у&nbsp;вас #[br] есть 2&nbsp;бесплатных ключика.
			.main-info__col
				img(src="./img/icon-2.svg", alt="").main-info__icon
				.main-info__bottom
					h3.main-info__title Средний и крупный бизнес
					p.main-info__text Добавляйте филиалы, менеджеров, подключайте собственные CRM-системы и&nbsp;следите за&nbsp;воронками в&nbsp;каждой точке. Мы&nbsp;поможем быстро набрать соискателей во&nbsp;все филиалы.
			.main-info__col
				img(src="./img/icon-3.svg", alt="").main-info__icon
				.main-info__bottom
					h3.main-info__title Кадровые агентства
					p.main-info__text Получите доступ к&nbsp;огромной базе кандидатов. Фильтруйте, находите соискателей и&nbsp;общайтесь. Оплата только за&nbsp;чат с&nbsp;человеком, подходящим по&nbsp;всем критериям. Мы&nbsp;доверяем вам и&nbsp;даем управление подбором в&nbsp;ваши руки.
		a(href="//hr.unitemp.ru").main-info__link Добавить вакансию бесплатно
