section.main-price
	.container
		h2.main-price__heading Пакеты доступные для приобретения
		.main-price__table-wrap
			table.main-price__table
				tr
					th Количество доступов (ключей)
					th Итоговая стоимость (включая НДС)
					th Стоимость за&nbsp;еденицу (включая НДС)
				tr
					td 1
					td 199
					td 199
				tr
					td 10
					td 1590
					td 159
				tr
					td 50
					td 7450
					td 149
				tr
					td 100
					td 13900
					td 139
				tr
					td 500
					td 64500
					td 129
				tr
					td 1000
					td 119000
					td 119
				tr
					td 5000
					td 545000
					td 109
				tr
					td 10000
					td 990000
					td 99
