section.main-info-table
	.container
		.main-info-table__table-wrap
			table.main-info-table__table
				tr
					th Тип услуги
					th Механика
					th Стоимость ключей
				tr
					td Оплата за контакт кандидата при отклике
					td Соискатель отлкикается на несколько вакансий, после работодатель, посмотрев на его резюме, может открыть с ним чат или отказать ему
					td 1
				tr
					td All inclusive chat bot
					td Бот на 30 дней без отдельной оплаты за контакты
					td 99
		a(href="//hr.unitemp.ru").main-top__link Приобрести ключи
