section.main-text
	.container
		p.main-text__text Есть много вариантов Lorem Ipsum, но&nbsp;большинство из&nbsp;них имеет не&nbsp;всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не&nbsp;напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы&nbsp;наверняка не&nbsp;хотите какой-нибудь шутки, скрытой в&nbsp;середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и&nbsp;тот&nbsp;же текст, который они просто повторяют, пока не&nbsp;достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором.
