section.main-top
	.container
		.main-top__row
			.main-top__left
				h2.main-top__heading Банк ключей
				p.main-top__text Давно выяснено, что при оценке дизайна и&nbsp;композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а&nbsp;также реальное распределение букв и&nbsp;пробелов в&nbsp;абзацах
				a(href="//hr.unitemp.ru").main-top__link Приобрести ключи
			.main-top__right
				img(src="./img/laptop.svg", alt="").main-top__img
